@charset "utf-8";

.invisible,
.loaded .loading {
  visibility: hidden;
  opacity: 0;
}

.loaded header {
  @media (width < 960px) {
    visibility: hidden;
    opacity: 0;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--brand-bg);
  color: var(--brand-text);
  transition: all 0.5s;
  border-bottom: 1px solid var(--gray1);
  z-index: 30;

  @media (width < 960px) {
    height: min(100vw / 16 * 9, 43vh);
    display: grid;
    place-content: center;
    place-items: center;
    gap: 1rem;
  }

  @media (960px <= width) {
    height: 56px;
    display: flex;
    align-items: center;
    padding-inline: 16px;
    gap: 32px;
  }
}

.logo {
  @media (960px <= width) {
    font-size: 28px;
    line-height: 56px;
  }
}

.loading {
  display: flex;
  align-items: center;
  transition: inherit;
  gap: 0.5rem;
}

.loading-icon {
  width: 1.414rem;
  height: 1.414rem;
  border: calc(1rem / 6) solid var(--brand-text);
  border-right: calc(1rem / 6) solid transparent;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

main {
  @media (width < 960px) {
    padding-bottom: 55px;
  }

  @media (960px <= width) {
    margin-top: 56px;
    margin-bottom: 84px;
    display: grid;
    align-items: start;
    grid-template-rows: calc((100vw / 2.414 - 24px) / 16 * 9) auto;
    grid-template-columns: 1fr 1.414fr;
    padding: 16px;
    gap: 16px;
  }
}

.youtube {
  position: sticky;
  z-index: 10;
  height: 0;

  @media (width < 960px) {
    top: 0;
    padding-top: min(56.25%, 43vh);
  }

  @media (960px <= width) {
    top: 72px;
    padding-top: 56.25%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.message {
  @media (width < 640px) {
    margin: 1.5rem;
  }

  @media (640px <= width < 960px) {
    margin: 1.5rem 10%;
  }

  @media (960px <= width) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    position: sticky;
    top: calc(88px + ((100vw / 2.414 - 24px) / 16 * 9));
  }
}

summary {
  font-size: 1.414rem;
  font-weight: bold;
  cursor: pointer;
}

.lead {
  text-align: justify;
}

.lead-link {
  &:hover,
  &:focus {
    text-decoration: none;
    background-image: linear-gradient(transparent 80%, var(--brand-color) 80%);
  }

  &::after {
    content: "\f08e";
    font-size: 0.5rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    vertical-align: super;
    margin-right: 0.25rem;
  }
}

.song-table {
  @media (960px <= width) {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    overflow: hidden;
  }
}

.search {
  position: relative;

  @media (width < 640px) {
    margin: 1.5rem;
  }

  @media (640px <= width < 960px) {
    margin: 1.5rem 10%;
  }

  @media (960px <= width) {
    width: min(100vw / 2.414 * 1.414 - 40px, 640px);
    margin-top: 8px;
    position: fixed;
    top: 0;
    z-index: 30;
  }
}

.search-input {
  border-radius: 6px;
  transition: all 0.5s;

  @media (width < 960px) {
    padding: 8px 45px;
    width: 100%;
    height: 45px;
    border: 1px solid var(--gray2);
  }

  @media (960px <= width) {
    padding: 8px 40px;
    width: 100%;
    height: 40px;
    background-color: var(--main-bg);
  }
}

.focused-search-form .search-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-icon {
  position: absolute;
  top: 0;
  display: grid;
  place-content: center;

  @media (width < 960px) {
    width: 45px;
    height: 45px;
  }

  @media (960px <= width) {
    width: 40px;
    height: 40px;
  }
}

.search-loupe {
  left: 0;
}

.search-clear {
  right: 0;
}

.search-option {
  padding: 1rem;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: baseline;

  @media (width < 960px) {
    border: 1px solid var(--gray2);
    border-top: 0;
  }

  @media (960px <= width) {
    background-color: var(--main-bg);
    box-shadow: 0px 10px 16px -6px var(--gray2);
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }
}

.focused-search-form .search-option,
.search-option:hover {
  visibility: visible;
  opacity: 1;
}

.search-option-share {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: #0f1419;
  height: 2rem;
  line-height: 2rem;
  border-radius: 1rem;
  padding-inline: 1rem;
  font-size: 0.8rem;

  &::after {
    margin-left: 0.5rem;
    vertical-align: top;
    content: attr(title);
  }
}

.search-option-area {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
}

.search-option-label {
  white-space: nowrap;
}

.table-information {
  @media (width < 640px) {
    margin: 1.5rem;
  }

  @media (640px <= width < 960px) {
    margin: 1.5rem 10%;
  }

  @media (960px <= width) {
    margin-inline: 0.5rem;
  }
}

.table-information-number {
  padding: 0 0.25rem;
}

.tracks {
  margin-top: 1rem;
}

.track {
  display: grid;
  grid-template-columns: auto max-content;
  height: 56px;
  gap: 1.5rem;
  padding-inline: 1.5rem;

  &:hover {
    background-color: var(--gray1);
  }

  @media (960px <= width) {
    padding-inline: 0.5rem;
  }

  &.current {
    background-color: var(--gray1);
  }
}

.track-button {
  display: grid;
  grid-template-columns: min-content auto max-content;
  align-items: center;
  gap: 0.5rem;
  text-align: unset;
  color: var(--gray3);
  font-size: 0.875rem;

  @media (640px <= width) {
    grid-template-columns: min-content 1fr 1fr max-content;
  }
}

.track-button-video-thumb {
  object-fit: cover;
  width: 45px;
  height: 56px;
  clip-path: inset(7px 0);
}

.track-button-info {
  display: grid;
  margin-right: auto;
}

.track-button-info-text,
.track-button-ytlink {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.track-button-info-title {
  color: var(--main-text);
  font-size: 1rem;
}

.track-button-ytlink {
  color: inherit;

  @media (width < 640px) {
    display: none;
  }
}

address {
  font-style: normal;
  font-size: 0.7rem;

  @media (width < 640px) {
    margin: 1.5rem;
  }

  @media (640px <= width < 960px) {
    margin: 1.5rem 10%;
  }

  @media (960px <= width) {
    margin-top: 1rem;
  }
}

.to-page-top {
  position: absolute;
  right: 0;
  width: 54px;
  height: 54px;
  margin: 1rem;
  background: var(--brand-bg);
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: 0px 0px 5px 3px var(--gray1);
  display: grid;
  place-content: center;

  @media (width < 960px) {
    bottom: 55px;
  }

  @media (960px <= width) {
    bottom: 84px;
  }
}

.to-page-top .fa-chevron-up {
  font-size: 1.4em;
  color: var(--brand-text);
}

.playing-bar {
  position: fixed;
  bottom: 0;
  background-color: var(--main-bg);
  width: 100%;
  display: flex;
  z-index: 20;

  @media (width < 960px) {
    height: 55px;
    border-top: 1px solid var(--gray1);
  }

  @media (960px <= width) {
    height: 84px;
    padding: 4px 16px 0;
  }
}

.playing-bar-information {
  display: flex;
  align-items: center;

  @media (960px <= width) {
    width: calc(100% / 3);
  }
}

.playing-bar-thumb-button {
  width: 96px;
  height: 54px;
}

.playing-bar-thumb-button img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.playing-bar-text {
  @media (width < 960px) {
    width: calc(100vw - 96px - 54px * 2 - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
  }

  @media (960px <= width) {
    width: calc(100% - 96px - 2rem);
    max-height: 54px;
    line-height: 1.3;
    margin: 0 1rem;
  }
}

.playing-bar-text br {
  @media (width < 960px) {
    display: none;
  }
}

.playing-bar-text span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @media (960px <= width) {
    display: inline-block;
  }
}

.playing-bar-song-title {
  @media (960px <= width) {
    max-width: 50%;
  }
}

.playing-bar-artist {
  @media (width < 960px) {
    color: var(--gray3);
  }

  @media (960px <= width) {
    max-width: 50%;

    &::before {
      content: "/";
      margin-inline: 0.5rem;
    }
  }
}

.playing-bar-post-date {
  color: var(--gray3);
  font-size: 0.875rem;

  @media (width < 960px) {
    display: none;
  }
}

.playing-bar-button {
  width: 54px;
  display: grid;
  place-content: center;
  place-items: center;

  @media (960px <= width) {
    display: none;
  }
}

@media (width < 960px) {
  .playing-bar-status {
    font-size: 16px;
  }

  .menu-btn span {
    font-size: 10px;
  }

  .menu-btn[aria-expanded="true"] .menu-btn-open,
  .menu-btn-close {
    display: none;
  }

  .menu-btn[aria-expanded="true"] .menu-btn-close {
    display: block;
  }

  .menu-btn li {
    display: block;
    height: 2px;
    width: 27px;
    margin: 5px 0;
    background-color: var(--main-text);
    transition: all 0.4s;
  }

  .menu-btn[aria-expanded="true"] li:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .menu-btn[aria-expanded="true"] li:nth-child(2) {
    opacity: 0;
  }

  .menu-btn[aria-expanded="true"] li:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}

.menu-content {
  display: flex;

  @media (width < 960px) {
    width: 100%;
    position: fixed;
    left: 100%;
    bottom: 55px;
    transition: all 0.5s;
    opacity: 0;
    flex-direction: column-reverse;

    &:where(.open-nav *) {
      left: 0;
      opacity: 1;
    }
  }

  @media (960px <= width) {
    flex: 6;
  }
}

.menu-controller {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: calc(16px * 1.414);

  @media (width < 960px) {
    padding: 6px 24px;
    background-color: var(--main-bg);
  }

  @media (960px <= width) {
    flex: 3;
  }
}

.menu-controller-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 45px;
  height: 45px;
}

.to-hide {
  display: none !important;
}

.menu-controller-repeat-text {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: var(--main-text);
  font-size: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5px;
  right: 2px;
  border: 2px solid var(--main-bg);
  color: var(--main-bg);

  &:where(.disabled *) {
    background-color: var(--gray2);
  }
}

.disabled {
  color: var(--gray2);
}

.menu-controller-status {
  font-size: 2em;
  width: 60px;
  height: 60px;
}

.menu-time {
  @media (width < 960px) {
    background-color: var(--main-bg);
    padding: 12px 24px 0;
    border-top: 1px solid var(--gray1);
  }

  @media (960px <= width) {
    flex: 1;
    display: flex;
    align-items: center;
  }
}

.menu-time-seek-bar {
  height: 5px;
  width: 100%;
  background-color: var(--gray1);
  cursor: pointer;

  @media (960px <= width) {
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.menu-time-seek-bar::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: var(--gray3);
  cursor: pointer;
  border: none;
  display: block;
  border-radius: 50%;
}

/* ↑まとめると適用されない↓ */

.menu-time-seek-bar::-moz-range-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: var(--gray3);
  cursor: pointer;
  border: none;
  display: block;
  border-radius: 50%;
}

.menu-time-text {
  @media (width < 960px) {
    display: flex;
    justify-content: space-between;
  }

  @media (960px <= width) {
    text-align: center;
  }
}

.menu-time-text span {
  color: var(--gray3);
}

@media (960px <= width) {
  .menu-time-text-whole::before {
    content: "/";
    margin: 0 0.5rem;
  }
}

.menu-share {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;

  @media (960px <= width) {
    align-items: center;
    gap: 1rem;
    flex: 2;
  }
}

.menu-share-item {
  height: 45px;
  line-height: 45px;
  text-align: center;

  @media (960px <= width) {
    aspect-ratio: 1 / 1;
  }
}

.icon {
  display: block;
  color: #fff;
  text-decoration: none;

  @media (width < 960px) {
    padding: 0 20px;

    &::after {
      margin-left: 8px;
      font-weight: 700;
      vertical-align: top;
      content: attr(title);
    }
  }

  @media (960px <= width) {
    border-radius: 5px;
  }

  &::before {
    font-size: 16px;
  }
}

.icon-twitter {
  background: #55acee;
}
