@charset "utf-8";

:root {
  --brand-color: #edddbb;

  --main-bg: #fff;
  --main-text: #333;
  --brand-bg: var(--brand-color);
  --brand-text: #333;
  --gray1: #ebebeb;
  --gray2: #ccc;
  --gray3: #666;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg: #181818;
    --main-text: #ddd;
    --brand-bg: #212121;
    --brand-text: var(--brand-color);
    --gray1: #535353;
    --gray2: #6F6F6F;
    --gray3: #A6A6A6;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--main-text);
  background-color: var(--main-bg);
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.828rem;
}

h3 {
  font-size: 1rem;
}

a {
  color: var(--main-text);
}

p {
  line-height: 1.6;
  margin-top: 1rem;
}

input,
button,
textarea,
select {
  background: none;
  border: none;
  border-radius: 0;
  appearance: none;
  font: inherit;
  color: inherit;
}

input[type="checkbox"] {
  appearance: auto;
}

label,
button {
  cursor: pointer;
}

.invisible,
.loaded .loading {
  visibility: hidden;
  opacity: 0;
}

header {
  width: 100%;
  height: 56px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 32px;
  background-color: var(--brand-bg);
  color: var(--brand-text);
  position: fixed;
  top: 0;
  z-index: 2;
  transition: all .5s;
  box-sizing: border-box;
  border-bottom: 1px solid var(--gray1);
}

.logo {
  font-size: 28px;
  line-height: 56px;
}

.loading {
  display: flex;
  align-items: center;
  transition: inherit;
  gap: .5rem;
}

.loading-icon {
  width: 1rem;
  height: 1rem;
  border: calc(1rem / 6) solid var(--brand-text);
  border-right: calc(1rem / 6) solid transparent;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

main {
  margin-top: 56px;
  margin-bottom: 84px;
  display: grid;
  align-items: start;
  grid-template-rows: calc((100vw / 2.414 - 24px) / 16 * 9) auto;
  grid-template-columns: calc(100vw / 2.414 - 24px) auto;
  padding: 16px;
  gap: 16px;
  box-sizing: border-box;
}

.youtube {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  position: sticky;
  top: 72px;
  z-index: 1;
  height: 0;
  padding-top: 56.25%;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.message {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  position: sticky;
  top: calc(88px + ((100vw / 2.414 - 24px) / 16 * 9));
}

summary {
  font-size: 1.618rem;
  font-weight: bold;
}

.read {
  text-align: justify;
}

.read-link:hover,
.read-link:focus {
  text-decoration: none;
  background-image: linear-gradient(transparent 80%, var(--brand-color) 80%);
}

.read-link::after {
  content: "\f08e";
  font-size: 0.5rem;
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  vertical-align: super;
  margin-right: 0.25rem;
}

.song-table {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  overflow: hidden;
}

.search {
  margin-top: 8px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.search-input {
  background-color: var(--main-bg);
  padding: 8px 40px;
  width: min(100vw / 2.414 * 1.414 - 40px, 640px);
  height: 40px;
  box-sizing: border-box;
  border-radius: 6px;
  transition: all 0.5s;
}

.focused-search-form .search-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-icon {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-loupe {
  left: 0;
}

.search-clear {
  right: 0;
}

.search-option {
  padding: 1rem;
  background-color: var(--main-bg);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 10px 16px -6px var(--gray2);
  visibility: hidden;
  opacity: 0;
}

.focused-search-form .search-option,
.search-option:hover {
  visibility: visible;
  opacity: 1;
}

.search-option-area {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
}

.search-option-label {
  white-space: nowrap;
}

.table-information-number {
  padding: 0 .25rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
  display: block;
  white-space: nowrap;
}

tr {
  border-bottom: solid 1px var(--gray1);
}

.now-song-row {
  background-color: var(--gray1);
}

th {
  text-align: left;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid var(--gray3);
}

td {
  padding: 0 0.5rem;
}

.video-thumb {
  padding-left: 0;
}

.clickable {
  cursor: pointer;
}

.video-thumb-area {
  display: flex;
}

.video-thumb-img {
  object-fit: cover;
  width: 80px;
  height: 45px;
}

.song-title-label {
  display: block;
}

.song-title-button,
.artist-text,
.video-title-link,
.post-time-text {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.song-title-button {
  max-width: min((100vw / 2.414 * 1.414 - 1.5rem) * 0.7 - 80px - 1.5rem - 2rem, 20rem);
}

.artist-text {
  max-width: calc((100vw / 2.414 * 1.414 - 1.5rem) * 0.3 - 1rem - 1rem);
}

.video-title-link {
  max-width: calc((100vw / 2.414 * 1.414 - 1.5rem) * 0.5 - 1rem);
}

address {
  font-style: normal;
  font-size: 0.7rem;
  margin-top: 1rem;
}

.to-page-top {
  position: absolute;
  bottom: 84px;
  right: 0;
  width: 54px;
  height: 54px;
  margin: 1rem;
  background: var(--brand-bg);
  border-radius: 50%;
  transition: 0.3s;
  box-shadow: 0px 0px 5px 3px var(--gray1);
}

.to-page-top .fa-chevron-up {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.4em;
  color: var(--brand-text);
  transform: translate(-50%, -50%);
}

.playing-bar {
  position: fixed;
  bottom: 0;
  background-color: var(--main-bg);
  width: 100%;
  height: 84px;
  display: flex;
  padding: 4px 16px 0;
  z-index: 1;
  box-sizing: border-box;
}

.playing-bar-information {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
}

.playing-bar-thumb-button {
  width: 96px;
  height: 54px;
}

.playing-bar-thumb-button img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.playing-bar-text {
  width: calc(100% - 96px - 2rem);
  max-height: 54px;
  line-height: 1.3;
  margin: 0 1rem;
}

.playing-bar-text span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.playing-bar-song-title {
  max-width: 50%;
}

.playing-bar-artist::before {
  content: "/";
  margin: 0 0.5rem;
}

.playing-bar-artist {
  max-width: 50%;
}

.playing-bar-text-bottom {
  color: var(--gray3);
  font-size: 0.875rem;
}

.playing-bar-button {
  display: none;
}

.menu-content {
  flex: 6;
  display: flex;
}

.menu-controller {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: calc(16px * 1.414);
}

.menu-controller-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 45px;
  height: 45px;
}

.to-hide {
  display: none !important;
}

.menu-controller-repeat-text {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: var(--main-text);
  font-size: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5px;
  right: 2px;
  border: 2px solid var(--main-bg);
  color: var(--main-bg);
}

.disabled {
  color: var(--gray2);
}

.disabled .menu-controller-repeat-text {
  background-color: var(--gray2);
}

.menu-controller-status {
  font-size: 2em;
  width: 60px;
  height: 60px;
}

.menu-time {
  flex: 1;
  display: flex;
  align-items: center;
}

.menu-time-text {
  text-align: center;
}

.menu-time-text span {
  color: var(--gray3);
}

.menu-time-text-whole::before {
  content: "/";
  margin: 0 0.5rem;
}

.menu-time-seek-bar {
  height: 4px;
  width: 100%;
  background-color: var(--gray1);
  position: absolute;
  left: 0;
  top: 0;
}

.menu-time-seek-bar::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: var(--gray3);
  cursor: pointer;
  border: none;
  display: block;
  border-radius: 50%;
}

/* ↑まとめると適用されない↓ */

.menu-time-seek-bar::-moz-range-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: var(--gray3);
  cursor: pointer;
  border: none;
  display: block;
  border-radius: 50%;
}

.menu-share {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.menu-share-item {
  height: 45px;
  line-height: 45px;
  text-align: center;
  aspect-ratio: 1 / 1;
}

.icon {
  display: block;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.icon::before {
  font-size: 16px;
}

.icon-twitter {
  background: #55acee;
}